[submodule "src/main/cpp/libsamplerate"]
	path = src/main/cpp/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "src/main/cpp/oboe"]
	path = src/main/cpp/oboe
	url = https://github.com/google/oboe
[submodule "src/main/cpp/DSPFilters"]
	path = src/main/cpp/DSPFilters
	url = https://github.com/vinniefalco/DSPFilters